*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: #fefefe;
}

header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px; 
    text-decoration: none;
}

.nav-bar ul li a:hover{
    color: black;
    background: #fefefe;
}

.nav-bar ul li a.active{
    color: black;
    background: #fefefe;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

.page {
    background-color: #f5f5f5;
    width: 1200px;
    border-radius: 25px;
    padding-bottom: 15px;
}
.form-check {
    max-width: 80rem;
    margin: auto;
    padding: 10%;
}

.form-floating{
    max-width: 50rem;
    margin: auto;
}